body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(17, 17, 59);
  
  

  .card-hover {
    transition: transform 0.2s ease-in-out, z-index 0.2s;
    position: relative;
  }
  
  .card-hover:hover {
    transform: translateY(-5px) scale(1.02);
    z-index: 1; /* Bring the card to the front */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .ribbon {
    position: absolute;
    top: 10px; /* top value for vertical position */
    left: 10px; /*left value for horizontal position */
    background-color: #5f4d1c; 
    color: white;
    padding: 5px 10px; /* Adjust padding for spacing */
    transform: rotate(-30deg);
    transform-origin: left top; 
}
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


